transformers
SerpAPIWrapper
qdrant-client
google-search-results
datasets
serpapi
tiktoken
loralib
pypdf
sentencepiece
bitsandbytes
accelerate
einops
faiss-gpu
chromadb
bs4
langchainhub
wikipedia
arxiv
pymupdf
openai
xmltodict
langchain
langchain_openai
langchain_community
protobuf
